.button.login-button {
            background-color: #679eee;
            border-color: transparent;
            color: #fff !important;
        }

.button.login-button.is-outlined {
    background-color: transparent;
    border-color: #679eee;
    color: #679eee !important;
}

.help {
    color: gray;
}

.login-container {
    margin-left: 300px;
    margin-top: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login-box > box{
    width: 500px;
    height: 380px;
}
.input-login {
    padding: 20px;
}