.mp_hide {display: none !important;}
.myProfile textarea, .textareaCnt {
    color: rgba(97, 65, 172, .5);
}
.myProfile {
    height: 300px;
    background: rgba(97, 65, 172, .5);
    padding: 30px;
    min-width: 500px;
}

.myProfile > div:nth-child(1){
    margin: auto;
    width: 80%;
    justify-content: space-between;
}
.profileImg {
    border-radius: 50%;
    background: white;
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}
.profileFont {
    color: rgba(255,255,255,.8);
    font-size: 20px;
    font-weight: bold;
}
.myProfile textarea {
    border-radius: 25px;
    border: none;
    resize: none;
    outline-color: rgb(97, 65, 172);

    overflow: hidden;
    background: white;

    width: 100%;
    height: 10em;
    padding: 10px;

    font-weight: bold;
    font-size: 1vw;
}
textarea::placeholder {
    color: rgba(97, 65, 172, .3);
    font-size: 1vw;
}
.level-item {
    margin-left: 30px;
}

.profileBtn, .modifyBtn {
    display: flex;
    justify-content: end;
    align-items: center;
}
.profileBtn button, .modifyBtn button {
    margin-left: 10px;
    width: 65px;
    height: 30px;
    font-size: 12px;
}

.file-cta {
    background: inherit;
    border-radius: 25px !important;
    border-color: rgb(97, 65, 172);
    color: white;
    font-weight: bold;
}
.file-label {
    padding: 0 10px;
}
.file-label:hover {
    border-color: rgb(97, 65, 172);
    color: rgb(97, 65, 172);
}