<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Inside Your Melody</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/header.js"></script>
    <link href="../static/header.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="fcc">
        <a class="logoImg icos" href=""></a>
    </div>
    <div class="loginArea fcc">
        <div><a class="ico loginIco icos" href="">로그인</a></div>
        <div><a href="">회원가입</a></div>
    </div>
    <nav>
        <ul class="fcc">
            <li><div><a class="ico viewAllIco icos" href="">전체 보기</a></div></li>
            <li><div><a class="ico rainIco icos" href="">비오는 날</a></div></li>
            <li><div><a class="ico studyIco icos" href="">공부할 때</a></div></li>
            <li><div><a class="ico healthIco icos" href="">운동할 때</a></div></li>
            <li><div><a class="ico sleepIco icos" href="">잠들기 전</a></div></li>
        </ul>
    </nav>
</header>
<main>
    <div class="bannerImg fcc">#전체 보기</div>
    <div class="musicList">
        
    </div>
</main>
</body>
</html>