<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>Inside Your Melody</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/header.js"></script>
    <link href="../static/header.css" rel="stylesheet">
</head>
<body>
<header>
    <div class="fcc">
        <a class="logoImg icos" href=""></a>
    </div>
    <div class="loginArea fcc">
        <div><a class="ico loginIco icos" href="">로그인</a></div>
        <div><a href="">회원가입</a></div>
    </div>
    <nav>
        <ul class="fcc">
            <li>
                <div><a class="ico viewAllIco icos" href="">전체 보기</a></div>
            </li>
            <li>
                <div><a class="ico rainIco icos" href="">비오는 날</a></div>
            </li>
            <li>
                <div><a class="ico studyIco icos" href="">공부할 때</a></div>
            </li>
            <li>
                <div><a class="ico healthIco icos" href="">운동할 때</a></div>
            </li>
            <li>
                <div><a class="ico sleepIco icos" href="">잠들기 전</a></div>
            </li>
        </ul>
    </nav>
</header>
<main>
<div class="mypost" id="post-box">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="url" placeholder="name@example.com">
        <label for="floatingInput">영상URL</label>
    </div>
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">카테고리</label>
        <select class="form-select" id="category">
            <option selected>--선택하기--</option>
            <option value="1">비오는 날</option>
            <option value="2">공부할 때</option>
            <option value="3">운동할 때</option>
            <option value="4">잠들기 전</option>
        </select>
    </div>
    <div class="form-floating">
            <textarea id = "comment" class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                      style="height: 100px"></textarea>
        <label for="floatingTextarea2">코멘트</label>
    </div>
    <div class="mybtn">
        <button onclick="post()" type="button" class="btn btn-dark">작성</button>
    </div>


</div>
</main>
</body>
</html>