<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Inside Your Melody</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/header.js"></script>
    <link href="../static/header.css" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="../static/posts.css" rel="stylesheet">
    <script type="text/javascript" src="../static/posts.js"></script>

</head>
<body>
    <header>
        <div class="fcc">
            <a class="logoImg icos" href=""></a>
        </div>
        <div class="loginArea fcc">
            <div><a class="ico loginIco icos" href="">로그인</a></div>
            <div><a href="">회원가입</a></div>
        </div>
        <nav>
            <ul class="fcc">
                <li><div><a class="ico viewAllIco icos" href="">전체 보기</a></div></li>
                <li><div><a class="ico rainIco icos" href="">비오는 날</a></div></li>
                <li><div><a class="ico studyIco icos" href="">공부할 때</a></div></li>
                <li><div><a class="ico healthIco icos" href="">운동할 때</a></div></li>
                <li><div><a class="ico sleepIco icos" href="">잠들기 전</a></div></li>
            </ul>
        </nav>
    </header>


    <section class="section" >
        <div>
            <div class="posts-area">

                <embed class="video" src="{{ list[0].url }}" type="미디어 타입">
                <div>{{ list[0]["like"]}}</div>
                <div class="posts-comment">{{ list[0].comment }}</div>
            </div>
        </div>
    </section>

    <section class="section">
        <section>
            <article class="media">
                <figure class="media-left" style="align-self: center">
                    <a class="image is-32x32" href="#">
                        <img class="is-rounded" src={{ url_for('static', filename=user_info.profile_pic_real) }} alt="프로필">
                    </a>
                </figure>
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                            <input id="input-reply" class="input is-rounded" placeholder="댓글을 달아주세요."
                                   onclick='$("#modal-post").addClass("is-active")'></p>
                    </div>
                </div>
            </article>
        </section>

        <div class="modal " id="modal-post">
            <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                        <textarea id="textarea-post" class="textarea"
                                                  placeholder="댓글을 달아주세요."></textarea>
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">

                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <a class="button is-sparta" onclick="save_reply()">포스팅하기</a>
                                    </div>
                                    <div class="level-item">
                                        <a class="button is-sparta is-outlined"
                                           onclick='$("#modal-post").removeClass("is-active")'>취소</a>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"
                    onclick='$("#modal-post").removeClass("is-active")'></button>
        </div>

        <section>
            <div id="post-box" class="container">
                <div class="box">
                    <article class="media">
                        <div class="media-left">
                            <a class="image is-64x64" href="#">
                                <img class="is-rounded"
                                  src="http://via.placeholder.com/64">
                            </a>
                        </div>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                     <strong>@username</strong> <small>10분 전</small>
                                    <br>
                                    글을 적는 칸
                                </p>
                            </div>
                            <nav class="level is-mobile">
                                <div class="level-left">
                                    <a class="level-item is-sparta" aria-label="heart"
                                       onclick="toggle_like('', 'heart')">
                                        <span class="icon is-small"><i class="fa fa-heart"
                                                                       aria-hidden="true"></i></span>&nbsp;<span
                                            class="like-num">2.7k</span>
                                    </a>
                                </div>

                            </nav>
                        </div>
                    </article>
                </div>
            </div>
        </section>

    </section>
    <button onclick="send()">ㅎㅇ</button>

</body>
</html>